<p>directive-sample works!</p>
<h4> *ngIf</h4>
<span> Enter a Number:</span>
<input type="text" [(ngModel)]="num"/>

<div *ngIf="num%2==0;then ifblock else elseblock"></div>
<ng-template #ifblock>
    <p>
        <b>
            Number is even
        </b>
    </p>
</ng-template>
<ng-template #elseblock>
    <p>
        <b>
            Number is odd
        </b>
    </p>
</ng-template>

<h4> *ngFor</h4>
    <ul>
        <li *ngFor="let c of colors">
{{c}}
        </li>
    </ul>
<select [(ngModel)] ="selectedColor">
    <option *ngFor="let c of colors" >
{{c}}
    </option>
</select>

<table border="1">
<thead>
    <tr>
        <th>
            Prodct Id
        </th>
        <th>
            Prodct Name
        </th>
        <th>
            Product Code
        </th>
        <th>
            Price
        </th>
    </tr>
</thead>
<tbody>
    <!--[class.r1]="prod.price<100" [class.b1]="prod.price>50"-->
    <tr *ngFor="let prod of products" [style.color]="selectedColor">
    <td>
        {{prod.productId}}
    </td>
    <td>
        {{prod.productName}}
    </td>
    <td>
        {{prod.productCode}}
    </td>
    <td>
        {{prod.price}}
        <i *ngIf="prod.price>40">Discount Avilable</i>
    </td>

    </tr>
</tbody>
</table>
<input type="button" (click)="addNewProduct()" value="Add New"/>

